.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
}

.cards a {
  text-decoration: none;
}

.card-bike {
  width: 278px;
  height: 320px;
  background: white;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-bike > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-bike-infos h2 {
  font-size: 16px;
  font-weight: bold;
  color: $bikemeup;
  margin: 0;
  margin-bottom: 5px;
  text-decoration: underline;
}

.card-bike-infos p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: $gray;
}

#card-bike-price {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-bike .card-bike-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.reviews {
  border: 2px solid #C0C0C0;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
}

.booking {
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  margin: 10px;
  padding: 16px;
}


.card-velo {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-velo > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-show-top {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
}

.card-booking {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h2 {
    color: gray;
  }
  p {
    color: gray;
  }
}

.book_show a {
  text-decoration: none;
  color: gray;
}
