<div class="container">
  <h1 class="title mt-2">Donner votre avis</h1>

<%= simple_form_for([ @booking, @review ]) do |f| %>
  <%= f.input :content, as: :text %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>
